{% extends "base.html.twig" %}

{% block title %}AppBundle:Person:delete{% endblock %}

{% block body %}
<h2>Welcome to the Person:delete page</h2>

    {{ text }}

    {% if form == true %}
        {% block form %}
    <form method="post">
        <button type="submit">Yes, delete</button>
    </form>
        {% endblock %}
    {% endif %}

{% endblock %}
